name: Build TLD list

on:
  push:
    branches:
      - main
      - features/**
      - dependabot/**
  pull_request:
    branches:
      - main
  schedule:
      # https://crontab.guru/#41_9_*_*_6
    - cron: "41 9 * * 6"

permissions:
  contents: read

jobs:
  docker:
    permissions:
      contents: write  # for Git to git push
    timeout-minutes: 2
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - name: Checkout the code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Ensure we're on main
        run: git checkout main

      - name: Build the container and run the generator
        run: docker compose up

      - name: Git config
        run: |
          git config --global user.name "Ryan Parman (Automated)"
          git config --global user.email "ryan@ryanparman.com"
          git pull --rebase --autostash

      - name: Git commit
        run: |
          if [[ "$(git status -sb | wc -l)" == "1" ]]; then
            echo "No changes to commit."
          else
            git add .
            git commit -m "Automated commit: $(date +"%Y-%m-%dT%T%z")"
            git push origin main
          fi
