---
# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: Auto-update on push
on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  update_on_push_job:
    runs-on: ubuntu-latest
    name: Auto-update on push
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            release-assets.githubusercontent.com:443

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "20"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Generate Changelog
        uses: orhun/git-cliff-action@e16f179f0be49ecdfe63753837f20b9531642772 # v4.7.0
        with:
          config: cliff.toml
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md

      - name: Remove git-cliff artifacts
        run: |
          rm -Rf git-cliff*

      - name: Generate artifacts
        run: |
          # Generate list of authors
          ./scripts/generate-contributors.sh

      - name: Git commit if changed
        run: |
          git config user.name "Northwood Labs (Bot)"
          git config user.email "bot@northwood-labs.com"

          set +e

          git add .
          git status | grep modified
          if [ $? -eq 0 ]; then
            git commit -a -m "automation: Updated AUTHORS and CHANGELOG on $(date)."
            git push https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git main
          fi
